* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  width: 1440px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.03); */
}
.notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(152, 100%, 87%);
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #333333;
  border-radius: 8px;
  width: 300px;
  box-shadow: 5px 5px 10px;
}
nav {
  background: #fff;
  position: relative;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.nav-top,
.nav-bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-top {
  height: 72px;
  padding-block: 17px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.nav-bottom {
  height: 77px;
  font-size: 16px;
  line-height: 19px;
  padding-block: 18px;
}
.nav-top-block {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}
.nav-top-block .darker {
  font-weight: 500;
}
.nav-top-block:first-child {
  padding-right: 45px;
  margin-right: 19px;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
}
.nav-top-block:last-child {
  margin-left: auto;
}

.nav-menu-list {
  display: flex;
  gap: 46px;
  font-weight: 500;
}
.nav-menu-list a {
  color: rgba(51, 51, 51, 1);
  transition: all 0.3s;
}
.nav-menu-list a:hover {
  color: rgb(131, 130, 130);
}

.nav-bottom-item:first-child {
  margin-right: 117px;
}
.nav-bottom-item:last-child {
  margin-left: auto;
}
.button {
  color: rgba(255, 255, 255, 1);
  background: #4762ff;
  border: none;
  border-radius: 5px;
  padding: 10px 23px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #7186fc;
}

.hero {
  height: 563px;
  background: url("img/3d-render.jpg") rgba(0, 0, 0, 0.03) no-repeat;
  background-blend-mode: multiply;
  background-position: bottom;
  background-position-x: 644px;
  background-size: 1176px 529px;
}
.hero-content {
  width: 540px;
  height: 296px;
  padding-top: 77px;
}
.hero-header {
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
  color: #333333;
  font-feature-settings: "liga" off;
  padding-bottom: 16px;
}
.hero-text {
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: "liga" off;

  color: rgba(51, 51, 51, 0.8);
  padding-bottom: 43px;
}
.button.hero-button {
  padding: 17px 37px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 8px;
}
.uslugi {
  background: rgba(0, 0, 0, 0.03);
  padding-top: 29px;
}
.uslugi-header {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "liga" off;
  margin-bottom: 18px;
  color: #333333;
}
.uslugi-text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 48px;
}
.uslugi-cards {
  padding: 48px 36px 58px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  column-gap: 36px;
}
.uslugi-card {
  width: 505px;
  height: 287px;
  background: #fff;
  border-radius: 9px;
  padding-top: 25px;
  padding-left: 28px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-position-x: 260px;
  background-position-y: bottom;
}
.uslugi-card-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  width: 360px;
  padding-bottom: 15px;
}
.uslugi-card-text {
  font-size: 16px;
  line-height: 19px;
  width: 250px;
  color: rgba(51, 51, 51, 0.8);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;

  border-radius: 8px;
  width: 30%; /* Could be more or less, depending on screen size */
}
.modal-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 18px;
  color: #333333;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-input {
  color: #979797;
  border: none;
  padding: 18px 22px;
  font-weight: 600;
  background: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
form .button {
  font-size: 16px;
  padding: 18px 22px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  line-height: 38px;

  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.sticky {
  position: fixed;
  top: 0;
  background: #fff;
  width: 1440px;
  z-index: 2;
}
.half-section {
  display: flex;
  justify-content: space-between;
}
.who {
  padding-block: 67px;
  gap: 70px;
}
.half-contents {
  width: 708px;
}
.map-section {
  padding-top: 96px;
  text-align: center;
}
.photos {
  padding-block: 56px;
}
.photos .uslugi-header {
  margin-bottom: 39px;
}
.questions {
  height: 687px;
  padding-block: 70px;
  background: url(img/truck-driver-opening-reservoir-tank-refuel-truck-holding-thumbs-up\ 1.jpg);
}
.questions-contents {
  padding: 40px 70px;
  border-radius: 15px;
  background: #ffffff;
  width: 611px;
  height: 548px;
  margin: auto 664px;
}
.questions-form {
  display: flex;
  flex-direction: column;
}
.questions-form .submit {
  margin-top: 37px;
}
.questions-form .form-input:first-child {
  margin-bottom: 23px;
}
.questions-form .form-input:focus-visible {
  outline: #97979744 1px solid;
}
.questions-header {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  color: #333333;
  margin-bottom: 16px;
}

footer {
  background: #1a1a1a;
  padding-top: 50px;
}
.footer-coryright {
  border-top: 0.7px solid #474747;
  font-size: 12px;
  line-height: 24px;
  color: #d9dbe1;
  padding-block: 18px;
}
.footer-nav {
  display: flex;
  gap: 76px;
}
.footer-links {
  display: flex;
  margin-bottom: 67px;
}
.footer-links-col {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.col-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}
.footer-link {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
  color: #ffffff;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #999;
}
#google {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.direction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#google label {
  font-size: 16px;
  line-height: 19px;
  text-align: start;
  color: #979797;
}
#google select {
  color: #979797;
  width: 200px;
  border: none;
  padding: 18px 22px;
  font-weight: 600;
  background: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}

#google select:focus-visible {
  outline: #97979744 1px solid;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
